.theme-dark{
    background-color: black;
    color:white;
}
.theme-light{
    background-color: white;
    color: black;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: burlywood;
    height:70px;
}
